[Unit]
Description=go2rtc WebRTC Streaming Server
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=krish

WorkingDirectory=/home/krish/Desktop/CodeSrijan-SkyRanger/raspberry_pi/go2rtc

ExecStart=/home/krish/go2rtc -config /home/krish/Desktop/CodeSrijan-SkyRanger/raspberry_pi/go2rtc/go2rtc.yaml

Restart=always
RestartSec=5

StandardOutput=append:/home/krish/Desktop/CodeSrijan-SkyRanger/logs/go2rtc.log
StandardError=append:/home/krish/Desktop/CodeSrijan-SkyRanger/logs/go2rtc.err

[Install]
WantedBy=multi-user.target
