[Unit]
Description=SkyRanger Flask Camera Server
After=network.target

[Service]
Type=simple
User=krish
WorkingDirectory=/home/krish/Desktop/CodeSrijan-SkyRanger
Environment="PATH=/home/krish/Desktop/CodeSrijan-SkyRanger/venv/bin"
ExecStart=/home/krish/Desktop/CodeSrijan-SkyRanger/venv/bin/python -m camera_server
Restart=always
RestartSec=5
StandardOutput=append:/var/log/skyranger/camera.log
StandardError=append:/var/log/skyranger/camera.err

[Install]
WantedBy=multi-user.target
