[Unit]
Description=SkyRanger FPV Webcam Publisher

[Service]
Type=simple
User=krish

ExecStart=/usr/bin/ffmpeg -f v4l2 -input_format mjpeg -framerate 30 -video_size 640x480 -i /dev/video8 -c:v libx264 -preset ultrafast -tune zerolatency -pix_fmt yuv420p -rtsp_transport tcp -f rtsp rtsp://127.0.0.1:8555/fpv

Restart=always

[Install]
WantedBy=multi-user.target
