[Unit]
Description=SkyRanger RTSP Webcam Server
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=krish

WorkingDirectory=/home/krish/Desktop/CodeSrijan-SkyRanger/raspberry_pi/camera_stream

Environment="PATH=/home/krish/Desktop/venv/bin:/usr/local/bin:/usr/bin:/bin"

ExecStart=/home/krish/Desktop/venv/bin/python RTSP_server.py

Restart=always
RestartSec=5

StandardOutput=append:/var/log/skyranger/rtsp.log
StandardError=append:/var/log/skyranger/rtsp.err

[Install]
WantedBy=multi-user.target